<div class="page-header text-center">
    <h1>{{setor.nome}}</h1>
</div>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col">
        <div class="form-group">
            <label for="nome-setor">Nome</label>
            <input ng-model="setor.nome" type="text" class="form-control" name="nome" required/>
            <span ng-show="formulario.$submitted && formulario.nome.$error.required" 
             class="form-control alert-danger">
                Nome setor obligatório
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>