<div class="form-horizontal">
    <h3>Create a new Vaga</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Vagas/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Vagas</h3>
    <form id="VagaSearch" class="form-horizontal">
            <div class="form-group">
        <label for="titulo" class="col-sm-2 control-label">Titulo</label>
        <div class="col-sm-10">
            <input id="titulo" name="titulo" class="form-control" type="text" ng-model="search.titulo" placeholder="Enter the Vaga Titulo"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="descricao" class="col-sm-2 control-label">Descricao</label>
        <div class="col-sm-10">
            <input id="descricao" name="descricao" class="form-control" type="text" ng-model="search.descricao" placeholder="Enter the Vaga Descricao"></input>
        </div>
    </div>



    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <select id="status" name="status" class="form-control" ng-model="search.status" ng-options="s as s for s in statusList">
                <option value="">Choose a Status</option>
            </select>
        </div>
    </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descricao</th>
                    <th>Data Expiracao</th>
                    <th>Status</th>
                    <th>Data Criacao</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Vagas/edit/{{result.id}}">{{result.titulo}}</a></td>
                    <td><a href="#/Vagas/edit/{{result.id}}">{{result.descricao}}</a></td>
                    <td><a href="#/Vagas/edit/{{result.id}}">{{result.dataExpiracao| date:'mediumDate'}}</a></td>
                    <td><a href="#/Vagas/edit/{{result.id}}">{{result.status}}</a></td>
                    <td><a href="#/Vagas/edit/{{result.id}}">{{result.dataCriacao| date:'mediumDate'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>